// The ui-variables file is provided by base themes provided by Atom.
//
// See https://github.com/atom/atom-dark-ui/blob/master/stylesheets/ui-variables.less
// for a full listing of what's available.
@import "ui-variables";
@import "colors";

atom-text-editor {
  background-color: @brown;
  color: @dusty-grey;

  .syntax--html {
    color: @dusty-grey;
    &.syntax--string {
      color: @white-yellow;
    }
  }

  .invisible-character,
  .indent-guide {
    color: @black;
  }

  .gutter {
    background-color: @brown;
  }

  .gutter .line-number {
    opacity: 1;
    color: @dark-grey;
  }

  .gutter .line-number.folded,
  .gutter .line-number:after,
  .fold-marker:after {
    color: @magenta;
  }

  .cursor.idle {
    border-color: @orangered;
    visibility: visible;
  }

  .cursor.blink-off {
    border-color: @green;
    visibility: visible;
  }

  .selection .region {
    background-color: @black;
    color: @base03;
  }

  .line-number.cursor-line-no-selection {
    background-color: @dark-grey;
  }

  .bracket-matcher {
    background-color: @orangered;
    opacity: 0.6;
  }
}


.syntax--comment {
  color: @base01;
  font-style: italic;
}

.syntax--entity {
  color: @bright-green;

  &.syntax--name.syntax--function {
    color: @bright-green;
  }

  &.syntax--tag {
    color: @medium-green
  }

  &.syntax--attribute-name {
    color: @white
  }

}

// stylus variable defs
.syntax--keyword {
  color: @medium-green;

  &.syntax--operator {
    color: @white;
  }
}

.syntax--storage {
  &.syntax--type {
    color: @white;

    &.syntax--class {
      color: @dusty-grey;

      &.syntax--todo {
        color: @white-yellow
      }
    }

    &.syntax--function {
      color: @bright-green;

      &.syntax--coffee {
        color: @white;
      }

      &.syntax--js {
        color: @white-yellow;
      }
    }
  }

  &.syntax--modifier {
    &.syntax--js {
      color: @white-yellow;
    }
  }
}

.syntax--constant {
  color: @medium-green;

  &.syntax--numeric {
    color: @dusty-grey;
  }

  &.syntax--boolean {
    color: @white;
  }
}

.syntax--variable {
  color: @light;

  &.syntax--parameter {
    color: @light;
  }

  &.syntax--instance {
    color: @subtle-green;
  }

  &.syntax--assignment {
    color: @dusty-grey;
  }
}

.syntax--delimiter, .syntax--brace {
  color: @white-yellow;
}

.syntax--delimiter.syntax--period {
  color: @dusty-grey;
}

.syntax--invalid.syntax--deprecated {
  text-decoration: underline;
  color: @red;
}

.syntax--invalid.syntax--illegal {
  color: @red;
}

.syntax--string {
  color: @string-green;

  .syntax--constant.syntax--character.syntax--escape {
    color: @red;
  }

  &.syntax--regexp {
    color: @cyan;

    .syntax--source.syntax--ruby.syntax--embedded,
    .syntax--string.syntax--regexp.syntax--arbitrary-repitition {
      color: @red;
    }
  }
}

.syntax--support {
  &.syntax--class {
    color: @dusty-grey;
  }

  &.syntax--function {
    color: @bright-green;
  }
}

.syntax--operator {
  color: @base01;
  &.syntax--new {
    color: @white;
  }
}

// control structures
.syntax--control {
  color: @white-yellow;
}

.syntax--punctuation {
  &.syntax--definition {
    &.syntax--tag {
      color: @base01;
    }

    &.syntax--entity {
      color: @white;
    }

    &.syntax--variable.syntax--ruby {
      color: @subtle-green;
    }

    &.syntax--constant {
      color: @medium-green;
    }

    &.syntax--parameters {
      color: @white;
    }
  }

  &.syntax--array {
    color: @white;
  }

  &.syntax--function {
    color: @white;
  }

  &.syntax--section {
    &.syntax--embedded {
      color: @white;
    }
  }
}

.syntax--property-name {
  color: @subtle-green;
}
