// Defaults
@base03: #002b36;
@base01: #586e75;
@base0: #839496;

@red: #dc322f;
@magenta: #d33682;
@cyan: #2aa198;
@green: #859900;

// Core Colors
@black: #1d1d1d;
@brown: #303030;
@subtle-green: #8C9970;
@light: #c5c5c5;
@dusty-grey: #999999;
@white: #fff;
@white-yellow: #d2d8ba;
@string-green: #a0c874;
@medium-green: #6b9e00;
@bright-green: #80bd01;

// Others
@dark-grey: #3d3d3d;
@orangered: #ff4500;
@carbon-black: #110c11;
@smoke: #BEBD88;
@mink: #88807B;
@pearl: #D9DDDC;
@anchor:  #3E423B;

// Augmented Greens
@spring: #00FF7F;
@olive: #6B8E23;
@sage: #9dc183;
@mint:#98FB98;
@tea: #D0F0C0;
@lime: #C7EA46;
@emerald: #50C878;
@neon: #39FF14;
